<% include header %>
    <h2>Kegfinder help</h2>
    <div class='content'>
        <h3>Quick-start</h3>
        <p>Kegfinder is designed to streamline the process of tracking your kegs and managing
            your inventory. Follow this quick guide to get up and running in minutes.
        </p>
        <p>
        First, if you haven't already, <a href='/login/register'>create an account.</a>
        Please use a valid and active email so we can help maintain your account in the future.
        </p>
        <p>
        Next, head to <a href='/newInventory'>Manage inventory</a> to create your initial 
        inventory of keg ID numbers. Choose the number of each type of keg in your inventory,
        and Kegfinder will automatically generate ID numbers and add them to your inventory.
        We recommend permanently affixing a corresponding ID number to each physical keg using
        a metal stamping tool, paint or a permanent sticker.
        </p>
        <p>
        To see what's been created, head to your <a href='/viewInventory'>Track</a> page to view your full inventory. 
        We'll get to searching and sorting in a moment.
        </p>
        <p>
        Your <a href='/modInventory'>Update</a> page is where you'll change the status of your
        kegs as you fill, store, distribute, empty and clean them. You can update whole batches
        of kegs at a time by entering their IDs, separated by commas, in the field. Then update
        one or more of the fields below -- any left blank will retain their previous values.
        </p>
        <p>
        Finally, navigate back to <a href='/viewInventory'>Track</a> your kegs. Search by 
        specific keg ID, contents, batch ID, location or status to return matching results. 
        Click on the column labels to sort either your full catalog or groups of search results.
        </p>
        <h3>FAQs</h3>
        <ul>
            <li><strong>Can I manage multiple inventories?</strong><br>
            Yes! At this time, the best way to manage multiple inventories is to simply create
            a separate login for each. Additional accounts are still free.</li>
            <br>
            <li><strong>Why doesn't the search feature work like I expect?</strong><br>
            The search feature looks for exact matches (but it's not case-sensitive). 
            We suggest looking at your entire catalog, finding the specific term you 
            wish to search, and typing it in as it appears in your catalog.</li>
            <br>
        </ul>
    </div>
<% include footer %>