<% include header %>
    <h2>Welcome to Kegfinder</h2>
    <div class='content'>
        <p>Kegfinder is a brewery-focused web app to track beer kegs and provide inventory information and 
        production analytics.</p>
        <p>Features include keg inventory building, tracking, and modification. 
            Keg information data fields include:</p>
        <p>
            <ul>
                <li>Keg ID</li>
                <li>initialized date</li>
                <li>keg condition</li>
                <li>keg type</li>
                <li>batch ID</li>
                <li>contents/style</li>
                <li>notes</li>
                <li>last change date</li>
            </ul>
        </p>
        <p>It's free to use, so <a href='/login/register'>register now</a> and try it out!</p>
    </div>
<% include footer %>


