<% include header %>
    <div class='main-container'>
        <h2>View inventory</h2>
        <div class='multiform'>
            <form id='viewInvForm' autocomplete='off'>
                <div class='multiforminputs'>
                    <label for='searchBy'>Search by: </label>
                    <br>
                    <select id='searchBy' name='searchBy'>
                        <option value='kegid'>Keg ID</option>
                        <option value='style'>Style/contents</option>
                        <option value='batchid'>Batch ID</option>
                        <option value='location'>Location</option>
                        <option value='condition'>Status</option>
                        <!-- <option value='all'>View all</option> use Search all button for now-->
                    </select>
                </div>
                <div class='multiforminputs'>
                    <label for='searchTerm'>Search term: </label>
                    <br>
                    <input id='searchTerm' placeholder='(ID #, location, etc.)' name='searchTerm'>
                    <div class='errorDialog' id='searchTermWarning'></div>
                </div>
                <div>
                    <!-- <button type='button' class='formbutton' id='showallButton'>Show all</button>
                    OR -->
                    <button type='button' class='formbutton' id='searchButton'>Search</button>
                    <button type='button' class='formbutton' id='resetButton'>Reset</button>
                </div>
            </form>
        </div>
        <div class='small-break'></div>
        <div class='catalog' id='invSearchResults'>
            <div class='flexTable'>
                <div class='tabLabels'>
                    <div id='sortByCont'>Sort:</div>
                    <div id='kegIDCont' class='hoverable'>ID</div>
                    <div id='kegTypeCont' class='hoverable'>Type</div> 
                    <div id='kegStatusCont' class='hoverable'>Status</div> 
                    <div id='kegStyleCont' class='hoverable'>Style</div> 
                    <div id='kegBatchIDCont' class='hoverable'>Batch</div> 
                    <div id='kegLocationCont' class='hoverable'>Location</div>
                    <div id='kegLastChangeCont' class='hoverable'>Last change</div>
                    <div id='kegNotesCont'>Notes</div>
                </div>
                <div id='tabResults'></div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src='javascripts/viewInv.js'></script>
<% include footer %>
