* {
  box-sizing: border-box;
}

body {
  font: 14px Roboto, sans-serif;
  margin: auto;
}

a {
  color: #5dade2;
}

h1 {
  font-family: Roboto, sans-serif;
  position: relative;
  top: 125px;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.4em;
  width: 90%;
  color: #45b39d;
  background-color: #fff;
  border: 2px solid #45b39d;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 15px auto;
}

.headCenter {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
}

.headContainer {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
}

.banner {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("/images/kegslong.jpeg");
  background-color: #e5e8e8;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  z-index: 10;
}

.bannertext {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 64px;
  text-align: center;
  font-weight: 700;
  color: #45b39d;
  text-shadow: 0 0 10px #eee;
  margin: 2px 10px;
}

.bannerlogo {
  display: inline-block;
  margin: 6px 10px;
}

.logocontainer {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.navbar {
  width: 100%;
  background-color: #45b39d;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  z-index: 9;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  font-family: Roboto;
  font-size: 1.4em;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  color: #e5e8e8;
  height: 100%;
  padding: .5em .8em;
}

.navbar .userid {
  background-color: #fff;
  font-family: Roboto;
  font-size: 1em;
  float: right;
  color: #45b39d;
  border: 2px solid #eb984e;
  padding: 0em 1em;
}

.userid a {
  height: 100%;
  color: #45b39d;
  margin: 0px;
}

.userid a:hover {
  color: #45b39d;
  margin: 0px;
  cursor: pointer;
}

.navbar a:hover {
  color: #45b39d;
  background-color: #fff;
}

.mainNav {
    display: inline-block;
}

.userNav {
    display: inline-block;
}

.menuBar {
    display: none;
}

.formbutton {
  font-size: 1em;  
  color: #e5e8e8;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  border: 2px solid #45b39d;
  cursor: pointer;
  background-color: #45b39d;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 5px 5px auto;
}

.logButton {
  float: right;
}

.main-container {
    max-width: 1000px;
    min-width: 300px;
    position: relative;
    top: 9rem;
    margin: auto;
}

.content {
  color: #424949;
  width: 90%;
  border: 1px solid #45b39d;
  border-radius: 3px;
  padding: 15px;
  margin: auto;
}

.footer {
  color: #424949;
  font-size: 14px;
  text-align: center;
  position: relative;
  width: 80%;
  max-width: 1000px;
  bottom: -150px;
  border: 1px solid #45b39d;
  border-radius: 3px;
  padding: 10px;
  margin: 10px auto;
}

#resetButton {
  color: #eb984e;
  background-color: #fff;
  border: 2px solid #eb984e;
}

#resetButton:hover {
  color: #e5e8e8;
  background-color: #eb984e;
}

.formbutton:hover {
  color: #45b39d;
  background-color: #fff;
  border: 2px solid #45b39d;
  padding: 5px 10px;
}

.multiform {
  font-family: Roboto, sans-serif;
  color: #424949;
  padding: 10px;
  width: 80%;
  border: 1px solid #45b39d;
  border-radius: 3px;
  margin: auto;
}

.multiforminputs {
  font-family: Roboto, sans-serif;
  color: #424949;
  padding: 5px;
  margin: auto;
}

input, select {
  font-size: 1em;
  width: 100%;
  max-width: 15em;
}

input, select, textarea {
  border: solid 1px #707b7c;
  padding: 1px 1px 2px 3px;
  border-radius: 2px;
}

select {
    background-color: #fff;
}

textarea {
    font-size: .85em;  
    width: 100%;  
    max-width: 400px;
    height: 150px;
    resize: none;
  }

input:focus, select:focus, textarea:focus {
  outline: 0;  
  border: solid 1px #5DADE2;
  box-shadow: 0 0 3px #5DADE2;
}

.errorDialog {
  font-family: Roboto, sans-serif;
  color: #c0392b;
  margin: 15px auto;
}

.loginWarning {
  width: 80%;
  font-family: Roboto, sans-serif;
  color: #c0392b;
  background-color: #f2d7d5;
  border-radius: 3px;
  border: 1px solid #c0392b;
  padding: 5px;
  margin: 15px auto;
}

.successDialog {
  font-family: Roboto, sans-serif;
  color: #45b39d;
}

.loginSuccess {
  width: 80%;
  font-family: Roboto, sans-serif;
  color: #45b39d;
  background-color: #d0ece7;
  border-radius: 3px;
  border: 1px solid #45b39d;
  padding: 5px;
  margin: 15px auto;
}

.catalog {
  padding-bottom: 30px;
}

.small-break {
    height: 1rem;
}

.flexTable {
    font-size: 1em;
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.tabLabels {
    height: 2.5em;
    background-color: #e5e8e8;
    font-size: 1.25em;
    font-weight: 700;
    color: #424949;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tabLabels div {
    padding: .5rem;
}

#tabResults {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tabResults > div:nth-of-type(even) {
    background-color: #e5e8e8;
}

.resultContainer {
    width: 100%;
    color: #424949;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cardLabel {
    display: none;
}

.resultContainer > * {
    padding: .5rem;
}

.hoverable:hover {
  cursor: pointer;
  text-decoration: underline;
}

#sortByCont {
    width: 5%;
    font-size: .8em;
    text-decoration: none;
    cursor: default;
  }

#kegIDCont {
    width: 4%;
}

#kegTypeCont {
    width: 10%;
}

#kegStatusCont {
    width: 10%;
}

#kegStyleCont {
    width: 12.5%;
  }

#kegBatchIDCont {
    width: 10%;
}

#kegLocationCont {
    width: 15%;
}

#kegLastChangeCont {
    width: 12.5%;
}

#kegNotesCont {
  width: 21%;
  text-decoration: none;
  cursor: default;
}

.catalog tbody tr:nth-child(even) {
  background-color: #e5e8e8;
}

#othernotes {
  width: 300px;
  height: 60px;
}

#searchTermWarning {
  display: inline;
}

.details {
  border: 1px solid #707b7c;
  border-radius: 3px;
  padding: 0px 15px;
  background-color: #e5e8e8;
}

@media only screen and (max-width: 800px) {
    .navbar a {
        font-size: 1.1em;
        padding: .4em .6em;
        height: 100%;
    }
    .navbar .userid {
        padding: 0em 1em;
    }
    .navbar .userid a {
        height: 100%;
    }
    .main-container {
        top: 8rem;
    }
    .tabLabels {
        display: none;
    }
    .resultContainer {
        width: 95%;
        color: #424949;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        border-bottom: 1px solid #424949;
    }
    .resultContainer div {
        width: 100%;
        padding: .25em .5em;
    }
    .rowContainer {
        display: flex;
    }
    .cardLabel {
        width: 25%;
        display: inline-block;
        font-weight: 700;
        text-align: right;
    }
    #sortByCont {
        width: 100%;
        font-size: .8em;
        text-decoration: none;
        cursor: default;
    }
    #kegIDCont {
        width: 100%;
    }
    #kegTypeCont {
        width: 100%;
    }
    #kegStatusCont {
        width: 100%;
    }
    #kegStyleCont {
        width: 100%;
      }
    #kegBatchIDCont {
        width: 100%;
    }
    #kegLocationCont {
        width: 100%;
    }
    #kegLastChangeCont {
        width: 100%;
    }
    #kegNotesCont {
      width: 100%;
      text-decoration: none;
      cursor: default;
    }
}

@media only screen and (max-width: 640px) {
    .main-container {
        top: 0;
        font-size: 1.25rem;
    }
    .menuBar {
        font-size: 1.5rem;
        font-weight: 700;
        width: 100%;
        color: #e5e8e8;
        background-color: #45b39d;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .25em 0em;
    }
    .menuBar:hover {
        cursor: pointer;
    }
    #hamburger {
        height: 1.5rem;
    }
    .headCenter {
        position: relative;
    }
    .navbar {
        font-size: 1.5rem;
        flex-direction: column;
        align-items: center;
        display: none;
    }
    .mainNav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .mainNav a {
        text-align: center;
        width: 100%;
        padding: .25em 0em;
    }
    .userNav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .userNav * {
        text-align: center;
        width: 100%;
        padding: .25em 0em .4em 0em;
    }
    .resultContainer {
        font-size: 1rem;
    }
}